target-version = "py312"
line-length = 88

[lint]
select = [
  "E",  
  "F",   
  "I",  
  "B",  
  "UP",
]

ignore = [
  "E501",  
]

[lint.per-file-ignores]
"__init__.py" = ["F401"]

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
